<div>
<div class="login-logo">
    <img src="/images/logo.png" alt="Hapiness">
</div>
<div class="login">
 {{> flash}}
 <form method='post'>
  <h2>Forgot Password</h2>
  <fieldset>
    <input type="email" placeholder="Email" name="email"/>
  </fieldset>
  <input type="submit" value="Send Password Reset Link" />
  {{> form_security}}
  </form>
</div>
</div>

