<div class="login-box">
  <div class="login-logo">
    <a href="#"><img src="/images/logo.png" alt="Hapiness"></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forgot Password</p>
    {{> flash}}    
    <form method='post'>
      <div class="form-group has-feedback">        
		<input type="email" placeholder="Email" class="form-control" name="email"/>        
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>      
      <div class="row">      
        <!-- /.col -->
        <div class="col-xs-12 ">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Send Password Reset Link</button>
        </div>
        <!-- /.col -->
      </div>
      {{> form_security}}
    </form>
    <!-- /.social-auth-links -->

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <div class="row">
        <div class="col-xs-6">
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
        </div>
        <div class="col-xs-6">
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
        </div>
      </div>
    </div>
    <!-- /.social-auth-links -->
  </div>
  <!-- /.login-box-body -->
</div>






