<div>
<div class="login-logo">
    <img src="/images/logo.png" alt="Hapiness">
</div>
<div class="login">
 {{> flash}}
 <form method='post' action='/reset'>
  <h2>Reset Password</h2>
  <fieldset>
    <input type="password" name="newPassword" placeholder="New Password">
    <input type="password" name="confirmNewPassword" placeholder="Confirm Password">
    <input type="hidden" name="token" value="{{token}}">
  </fieldset>
  <input type="submit" value="Update Password" />
  {{> form_security}}
  </form>
</div>
</div>

