<div>

			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" href="#"><strong>Hapiness</strong></a>
				</div>
				<ul class="nav navbar-nav pull-right">				  
				  <li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li><a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
					  <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Setting</a></li>
					  <li><a href="/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
					</ul>
				  </li>
				</ul>
			  </div>
			</nav>
        <!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li>
						<a href="#"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
					</li>
					<li>
						<a href="#"><i class="glyphicon glyphicon-globe"></i> Service</a>
					</li>
					<li>
						<a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a>
					</li>
					<li>
						<a href="#"><i class="glyphicon glyphicon-envelope"></i> Information</a>
					</li>
					<li>
						<a href="#"><i class="glyphicon glyphicon-earphone"></i> Contact</a>
					</li>
				</ul>
			</div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>A dashboard of Hapiness!!!</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

</div>