<header class="metabar">
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#"><strong>Hapiness</strong></a>
	        </div>
	        <ul class="nav navbar-nav pull-right">          
	          <li class="dropdown">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
	            <li><a href="/setting"><i class="glyphicon glyphicon-cog"></i> Setting</a></li>
	            <li><a href="/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
	          </ul>
	          </li>
	        </ul>
        </div>
    </nav>
</header>