<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="/dashboard"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="#"><i class="glyphicon glyphicon-globe"></i> Service</a>
      </li>
      <li>
        <a href="/profile"><i class="glyphicon glyphicon-user"></i> Profile</a>
      </li>
      <li>
        <a href="#"><i class="glyphicon glyphicon-envelope"></i> Information</a>
      </li>
      <li>
        <a href="#"><i class="glyphicon glyphicon-earphone"></i> Contact</a>
      </li>
    </ul>
</div>